.loginbtn{
  font-weight: 600;
  padding:0px 0px 0px 0px; 
  text-align: center; 
  min-height: 32px;width: 100% !important; 
  background-color: rgb(0,128,96);
  color:#eff7ee;
}
.inputbox{
  padding: 0px 100px 0px 100px;
}
.chpassbtn{
  padding: 0px 160px 0px 160px;
}
.sub-title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color:#7b7d84;
  background-color:#eff7ee; 
  padding: 10px 10px; 
}
.taskform{

  width:50% ;
  margin:0% 25% 0% 25%; 
  min-height: 350px;
  padding: 0px;
  border: 0.1px solid #e3e3e3;
  border-radius: 6px;
  flex-direction: column;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
   box-shadow: inset 0 1px 1px rgba(51, 40, 40, 0.05); 
  box-shadow: 0 3px 12px -6px rgba(0, 0, 0, 0.54); 
}

    @media screen and (min-width: 575px) {
        .topbar{
            margin-left: 0px;
            padding-left:7px;
          }       
       }
      
       @media screen and (max-width: 575px) {
        .topbar{       
            padding-left: 7px;
          }  
          .sri-login-box{
            padding-left: 12px;
          }     
       }
       
       @media screen and (min-width: 1050px) {
        
         #home{
           height: 100vh;
          // background: url(../../../assets/img/loginBack3.jpg); 
           background-repeat: no-repeat;
           background-size: 100vw 100vh;
         }
         .login-container{
           top: 45vh; background-color:rgb(191,181,181); color: rgb(50, 102, 83); border-radius: 3px;      
         }  
          
       }
       @media screen and (max-width: 1050px){
         #home{
           height: 100vh;
           background: #ffffff;//url(../../../assets/img/loginBack3.jpg); 
           background-repeat: no-repeat;
         }
         .login-container{
           top: 20vh; background-color:rgb(191,181,181); color: rgb(50, 102, 83); border-radius: 3px; 
         }
         .scm{ background-color: #008060;width:100%;min-height:80px;}
         .scmlogo{ padding:10px 0px 10px 10px; width:90%;height:70%;
           background: url(../../../assets/img/scmwhite.png);
           background-repeat: no-repeat; position:relative;background-size:contain;
         } 
         .main-title{
           font-family: Arial , Helvetica, sans-serif;
           font-size:18px; color:rgb(0,128,96);
           font-weight: bold; padding:20px 0px 10px 5px;
          }
      
         @media screen and (min-height: 550px) {
           #home{
           background-size: 1400px 960px; 
           }
           .scm{ background-color: #008060;width:100%;min-height:80px;}
           .scmlogo{ padding:10px 0px 10px 10px; width:90%;height:70%; 
             background: url(../../../assets/img/scmwhite.png);
             background-repeat: no-repeat;position:relative;background-size:contain; }
           
           .main-title{
             font-family: Arial , Helvetica, sans-serif;
             font-size:18px; color:rgb(0,128,96);
             font-weight: bold; padding:20px 0px 10px 5px;
            }
         }
       }