<div class="content-wrapper">

    <section class="content-header">
        <div id="home"> <br><br><br><br>
            <div class="container">
                <div class="taskform form-group">
                    <div class="col-sm-12 sub-title text-center">Change Password</div>
                    <br><br>
                    <div class="text-center" style="font-size: 16px;color:cadetblue;font-weight: 700;">{{successMsg}}</div>
                    <div class="text-center error">{{svrErr}}</div> 
					<form [formGroup]="passwordForm"  class="container col-sm-11"> <!--(ngSubmit)="onSubmit()"-->
						<div class="form-group" style="margin-top:5px; margin-bottom: 1rem!important;">
							<div class="input-group inputbox">
                                    <input type="password" class="col-md-12 form-control form-control-sm"  formControlName="oldpassword" id="oldpwd" autocomplete="off" style="min-height: 30px;" placeholder="Enter old password.">
								<!-- div class="input-group-append">
									<div class="input-group-text">
									  <span class="fa fa-lock" style="min-width: 17px;"></span>
									</div>
								</div-->
							</div>
						</div>
						<div class="form-group" style="margin-bottom: 1rem!important;">
							<div class="input-group inputbox">
							<input type="password" class="col-md-12 form-control form-control-sm"  formControlName="newpassword" id="newpwd" autocomplete="off" style="min-height: 30px;" placeholder="Enter new password.">
							<!-- div class="input-group-append">
								<div class="input-group-text">
									<span class="fa fa-lock" style="min-width: 17px;"></span>
								</div>
							</div -->
							</div>
                        </div>	
                        <div class="text-center error">{{passErr}}</div>
                        <div class="form-group" style="margin-bottom: 1rem!important;">
                                <div class="input-group inputbox" >
                                <input type="password" class="col-md-12 form-control form-control-sm"  formControlName="cfmpassword" id="cfmpwd" autocomplete="off" style="min-height: 30px;" placeholder="Enter confirm new password.">
                                <!-- div class="input-group-append"> (keydown.enter)="onSubmit()"
                                    <div class="input-group-text">
                                        <span class="fa fa-lock" style="min-width: 17px;"></span>
                                    </div>
                                </div-->
                                </div>
                        </div>
                        <div class="form-group" style="margin-bottom: 1rem!important;">
                            <div class="input-group chpassbtn" >
                                <button class="btn loginbtn" (click)="onSubmit()">Change Password</button>
                            </div>
                        </div>
                    </form>	
                    
                </div>
           
            </div>
         </div>
    </section>



</div>

